<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!--CSS-->
    <link rel='stylesheet' href='/Content/ContactS.css' />
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css" />
  </head>
  <body>
  
  <!--NavBar!-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

    <a class="navbar-brand" href="/"><i class="fa-solid fa-user fa-lg"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
          <% if (title == "Home Page") { %>
            <a class="nav-link active" aria-current="" href="/home">
          <% } else { %>
            <a class="nav-link" href="/home">
          <% } %>
            <i class="fa-solid fa-lg fa-house-user"></i>
            Home</a>
          </li>

            <li class="nav-item">
          <% if (title == "About Us") { %>
            <a class="nav-link active" href="/about">
          <% } else { %>
           <a class="nav-link" href="/about">
          <% } %>
            <i class="fa-solid fa-lg fa-circle-question"></i>
            About us</a>
          </li>
            <li class="nav-item">
          <% if (title == "Contact Us") {%>
            <a class="nav-link active" href="/contact">
          <% } else {%>
            <a class="nav-link" href="/contact">
          <% } %>
            <i class="fa-solid fa-envelope fa-lg"></i>Contact Us</a>
          </li>

          <li class="nav-item">
          <% if (title == "Projects Page") {%>
          <a class="nav-link active" href="/project">
          <% } else {%>
          <a class="nav-link"   href="/project">
          <% } %>
            <i class="fa-solid fa-gears fa-lg"></i>Projects</a>
          
          </li>
        </ul>
      </div>
    </div> 
  </nav>
</header>

<!--Contact Form-->
<section id="contact">
    <div class="container-lg">
<div class="text-center">
  <h1 class="display-5">What would you like to know?</h1>
</div>

<div class="row justify-content-center my-5">
  <div class="col-lg-6">
    <form>
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="e.g. Mario" required>

      <label for="email" class="form-label">Email Address:</label>
      <input type="email" class="form-control" id="email" placeholder="e.g.mario@example.com" required>

      <div class="form-floating mb-4 mt-5">
        <textarea id="query" class="form-control" style="height: 140px"></textarea>
        <label for="query" class="form-label">Your query...</label>
      </div>

      <div class="mb-4 text-center">
        <button type="submit" class="btn btn-secondary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </form>
  </div>
</div>

<!--Script Files-->
<script src="/Scripts/app.js>"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

</div>
  </body>
</html>
