<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!--CSS-->
    <link rel='stylesheet' href='/Content/Projectfacts.css' />
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css" />
  </head>
  <body>
  
  <header class="mb-auto">
    <!--NavBar!-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">

        <a class="navbar-brand" href="/">  Zeke The Data Freak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
          <% if (title == "Home Page") { %>
            <a class="nav-link active" aria-current="" href="/home">
          <% } else { %>
            <a class="nav-link" href="/home">
          <% } %>
            <i class="fa-solid fa-lg fa-house-user"></i>
            Home</a>
          </li>
            <li class="nav-item">
          <% if (title == "Contact me") {%>
            <a class="nav-link active" href="/contact">
          <% } else {%>
            <a class="nav-link" href="/contact">
          <% } %>
            <i class="fa-solid fa-envelope fa-lg"></i>Contact me</a>
          </li>

          <li class="nav-item">
          <% if (title == "Projects Page") {%>
          <a class="nav-link active" href="/project">
          <% } else {%>
          <a class="nav-link"   href="/project">
          <% } %>
            <i class="fa-solid fa-gears fa-lg"></i>Projects</a>
          
          </li>
        </ul>
      </div>
    </div> 
  </nav>
</header>

<button class="btn btn-primary" onclick="window.location.href='/project';">Back to the Projects</button>

<!--Image and Text-->
<div class="project-container">
  <img src="/Content/Project4.png" alt="Project 1" class="project-image">
  <div class="project-description">
    <h2>Project 4: Thematic map on Canada's Health Records</h2>
    <hr class="divider">
    <h3>Mortality rates per Municipality</h3>
    <p>The map provides a detailed visual representation of male life expectancy across Whitby, Ajax, and Oshawa, offering an insightful analysis of the data. Each point on the map is labeled with the corresponding street name, the time period during which the data was collected, and the specific life expectancy value for that location.</p>

    <p>To enhance clarity, the points are sized proportionally to the life expectancy values, allowing for a quick and intuitive understanding of the distribution. Larger points indicate higher life expectancy, while smaller points highlight areas with lower values. </p>
        
    <p>From this visualization, distinct trends emerge: Oshawa consistently shows significantly lower life expectancy values compared to Ajax, which demonstrates relatively higher rates. This stark contrast emphasizes the disparities between these regions and invites further exploration into the underlying factors contributing to these differences.
      The map gives a physical demonstration of the life expectancy of each male in Whitby, Ajax and Oshawa. Each point being labelled with the street name the timeline in which this data was collected and the life expectancy. Each point being sized differently based on the values, and from this we can see that Oshawa has alot lower numbers compared to Ajax which has relatively higher rates.
    </p>
  </div>  
</div>



    


<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container d-flex justify-content-center align-items-center">
    <h6 class="text-center mb-0 me-3">&copy; Copyright 2024. All rights Reserved</h6>
    <div class="social-icons">
      <a href="https://www.instagram.com/blurrzyy" target="_blank" rel="noopener noreferrer" class="text-light me-3">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/ezekiel-adekunle-09a6a8258/" target="_blank" rel="noopener noreferrer" class="text-light">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>

<!--Script Files-->
<script src="/Scripts/app.js>"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

</div>
  </body>
</html>
