<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!--CSS-->
    <link rel='stylesheet' href='/Content/Projects.css' />
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css" />
  </head>
  <body>
  
  <header class="mb-auto">
    <!--NavBar!-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">

        <a class="navbar-brand" href="/">  Zeke The Data Freak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
          <% if (title == "Home Page") { %>
            <a class="nav-link active" aria-current="" href="/home">
          <% } else { %>
            <a class="nav-link" href="/home">
          <% } %>
            <i class="fa-solid fa-lg fa-house-user"></i>
            Home</a>
          </li>
            <li class="nav-item">
          <% if (title == "Contact me") {%>
            <a class="nav-link active" href="/contact">
          <% } else {%>
            <a class="nav-link" href="/contact">
          <% } %>
            <i class="fa-solid fa-envelope fa-lg"></i>Contact me</a>
          </li>

          <li class="nav-item">
          <% if (title == "Projects Page") {%>
          <a class="nav-link active" href="/project">
          <% } else {%>
          <a class="nav-link"   href="/project">
          <% } %>
            <i class="fa-solid fa-gears fa-lg"></i>Projects</a>
          
          </li>
        </ul>
      </div>
    </div> 
  </nav>
</header>

<!--Images-->
<section id="projects">
  <div class="container">
    <div class="heading">
      <h1 class="text-center">Here are Some Projects I've Worked On</h1>
    </div>
    <div class="project-grid">
      <!-- Project 1 -->
      <div class="project-item">
        <a href="/project1">
          <div class="project-image">
            <img src="/Content/project1.png" alt="Project 1">
            <div class="overlay">
              <p>Click for more info</p>
            </div>
          </div>
        </a>
      </div>
      <!-- Project 2 -->
      <div class="project-item">
        <a href="/project2">
          <div class="project-image">
            <img src="/Content/Project2.png" alt="Project 2">
            <div class="overlay">
              <p>Click for more info</p>
            </div>
          </div>
        </a>
      </div>
      <!-- Project 3 -->
      <div class="project-item">
        <a href="/project3">
          <div class="project-image">
            <img src="/Content/Project3.png" alt="Project 3">
            <div class="overlay">
              <p>Click for more info</p>
            </div>
          </div>
        </a>
      </div>
      <!-- Project 4 -->
      <div class="project-item">
        <a href="/project4">
          <div class="project-image">
            <img src="/Content/Project4.png" alt="Project 4">
            <div class="overlay">
              <p>Click for more info</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>



<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container d-flex justify-content-center align-items-center">
    <h6 class="text-center mb-0 me-3">&copy; Copyright 2024. All rights Reserved</h6>
    <div class="social-icons">
      <a href="https://www.instagram.com/blurrzyy" target="_blank" rel="noopener noreferrer" class="text-light me-3">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/ezekiel-adekunle-09a6a8258/" target="_blank" rel="noopener noreferrer" class="text-light">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>

<!--Script Files-->
<script src="/Scripts/app.js>"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

</div>
  </body>
</html>
