body {
    background-image: url('back_image1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative; /* Make sure body can position the overlay */
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 30% opacity (adjust as needed) */
    z-index: -1; /* Ensure overlay is behind the content */
  }
  
  .homepage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .image-container {
    flex-shrink: 0;
    margin-right: 20px;
  }
  
  .image-container img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .text-container {
    max-width: 600px;
    text-align: center;
    margin-left: 390px;
  }
  
  .text-container h1 {
    font-size: 4rem;
    color: white;
    margin: 0 0 10px;
  }
  
  .text-container p {
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  @media (max-width: 768px) {
    .homepage-container {
      flex-direction: column;
      text-align: center;
    }
  
    .image-container img {
      width: 200px;
      height: 200px;
    }
  
    .text-container {
      margin-top: 20px;
    }
  }
  